<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @way.name %>
</p>

<p>
  <b>Category:</b>
  <%= @way.category %>
</p>


<%= link_to 'Edit', edit_way_path(@way) %> |
<%= link_to 'Back', ways_path %>
